USE [LibraryManagementDB]
GO
/****** Object:  UserDefinedTableType [dbo].[Author_Type]    Script Date: 05-06-2026 09:46:30 ******/
CREATE TYPE [dbo].[Author_Type] AS TABLE(
	[AuthorName] [varchar](200) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[Book_Type]    Script Date: 05-06-2026 09:46:30 ******/
CREATE TYPE [dbo].[Book_Type] AS TABLE(
	[AuthorUniqueId] [varchar](32) NULL,
	[CategoryUniqueId] [varchar](32) NULL,
	[ISBN] [varchar](20) NULL,
	[Title] [varchar](300) NULL,
	[TotalCopies] [int] NULL,
	[PublishedYear] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[Category_Type]    Script Date: 05-06-2026 09:46:30 ******/
CREATE TYPE [dbo].[Category_Type] AS TABLE(
	[CategoryName] [varchar](150) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[Fine_Type]    Script Date: 05-06-2026 09:46:30 ******/
CREATE TYPE [dbo].[Fine_Type] AS TABLE(
	[IssueUniqueId] [varchar](32) NULL,
	[FineAmount] [decimal](10, 2) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[Member_Type]    Script Date: 05-06-2026 09:46:30 ******/
CREATE TYPE [dbo].[Member_Type] AS TABLE(
	[FullName] [varchar](200) NULL,
	[Email] [varchar](200) NULL,
	[PhoneNumber] [varchar](20) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[User_Type]    Script Date: 05-06-2026 09:46:30 ******/
CREATE TYPE [dbo].[User_Type] AS TABLE(
	[RoleUniqueId] [varchar](32) NULL,
	[FullName] [varchar](200) NULL,
	[Email] [varchar](200) NULL,
	[PasswordHash] [varchar](500) NULL
)
GO
