USE [LibraryManagementDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_AddAuthor]    Script Date: 04-06-2026 22:20:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_AddAuthor]
(
    @AuthorName VARCHAR(200),
    @CreatedBy VARCHAR(100)
)
AS
BEGIN

    BEGIN TRY

        BEGIN TRANSACTION;

        INSERT INTO mst_Authors
        (
            AuthorName,
            CreatedBy
        )
        VALUES
        (
            @AuthorName,
            @CreatedBy
        );

        COMMIT TRANSACTION;

    END TRY

    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        EXEC usp_LogError
            @ErrorSource='usp_AddAuthor',
            @ErrorMessage=ERROR_MESSAGE,
            @ErrorProcedure=ERROR_PROCEDURE,
            @ErrorLineNumber=ERROR_LINE;

        THROW;

    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_AddBook]    Script Date: 04-06-2026 22:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_AddBook]
(
    @CategoryGuid UNIQUEIDENTIFIER,
    @AuthorGuid UNIQUEIDENTIFIER,
    @ISBN VARCHAR(50),
    @Title VARCHAR(300),
    @TotalCopies INT,
    @PublishedYear INT,
    @CreatedBy VARCHAR(100)
)
AS
BEGIN

    BEGIN TRY

        BEGIN TRANSACTION;

        DECLARE @CategoryId INT;
        DECLARE @AuthorId INT;

        SELECT @CategoryId=CategoryId
        FROM mst_Categories
        WHERE CategoryGuid=@CategoryGuid;

        SELECT @AuthorId=AuthorId
        FROM mst_Authors
        WHERE AuthorGuid=@AuthorGuid;

        INSERT INTO mst_Books
        (
            CategoryId,
            AuthorId,
            ISBN,
            Title,
            TotalCopies,
            AvailableCopies,
            PublishedYear,
            CreatedBy
        )
        VALUES
        (
            @CategoryId,
            @AuthorId,
            @ISBN,
            @Title,
            @TotalCopies,
            @TotalCopies,
            @PublishedYear,
            @CreatedBy
        );

        COMMIT TRANSACTION;

    END TRY

    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        EXEC usp_LogError
            @ErrorSource='usp_AddBook',
            @ErrorMessage=ERROR_MESSAGE,
            @ErrorProcedure=ERROR_PROCEDURE,
            @ErrorLineNumber=ERROR_LINE;

        THROW;

    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_AddCategory]    Script Date: 04-06-2026 22:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_AddCategory]
(
    @CategoryName VARCHAR(150),
    @CreatedBy VARCHAR(100)
)
AS
BEGIN
    BEGIN TRY

        BEGIN TRANSACTION;

        INSERT INTO mst_Categories
        (
            CategoryName,
            CreatedBy
        )
        VALUES
        (
            @CategoryName,
            @CreatedBy
        );

        COMMIT;

    END TRY
    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK;

        EXEC usp_LogError
            @ErrorSource='usp_AddCategory',
            @ErrorMessage=ERROR_MESSAGE,
            @ErrorProcedure=ERROR_PROCEDURE,
            @ErrorLineNumber=ERROR_LINE;

        THROW;

    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_AddFine]    Script Date: 04-06-2026 22:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_AddFine]
(
    @IssueUniqueId VARCHAR(50),
    @FineAmount DECIMAL(10,2),
    @CreatedBy VARCHAR(100)
)
AS
BEGIN

    BEGIN TRY

        BEGIN TRANSACTION;

        DECLARE @IssueId INT;

        SELECT @IssueId=IssueId
        FROM tbl_BookIssues
        WHERE IssueUniqueId = @IssueUniqueId;

        INSERT INTO tbl_Fines
        (
            IssueId,
            FineAmount,
            CreatedBy
        )
        VALUES
        (
            @IssueId,
            @FineAmount,
            @CreatedBy
        );

        COMMIT TRANSACTION;

    END TRY

    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        EXEC usp_LogError
            @ErrorSource='usp_AddFine',
            @ErrorMessage=ERROR_MESSAGE,
            @ErrorProcedure=ERROR_PROCEDURE,
            @ErrorLineNumber=ERROR_LINE;

        THROW;

    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_AddMember]    Script Date: 04-06-2026 22:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_AddMember]
(
    @FullName VARCHAR(200),
    @Email VARCHAR(200),
    @PhoneNumber VARCHAR(20),
    @CreatedBy VARCHAR(100)
)
AS
BEGIN

    BEGIN TRY

        BEGIN TRANSACTION;

        INSERT INTO mst_Members
        (
            FullName,
            Email,
            PhoneNumber,
            CreatedBy
        )
        VALUES
        (
            @FullName,
            @Email,
            @PhoneNumber,
            @CreatedBy
        );

        COMMIT;

    END TRY
    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK;

        EXEC usp_LogError
            @ErrorSource='usp_AddMember',
            @ErrorMessage=ERROR_MESSAGE,
            @ErrorProcedure=ERROR_PROCEDURE,
            @ErrorLineNumber=ERROR_LINE;

        THROW;

    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_AddRole]    Script Date: 04-06-2026 22:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_AddRole]
(
    @RoleName VARCHAR(50),
    @CreatedBy VARCHAR(100)
)
AS
BEGIN
    BEGIN TRY

        BEGIN TRANSACTION;

        INSERT INTO mst_Roles
        (
            RoleName,
            CreatedBy
        )
        VALUES
        (
            @RoleName,
            @CreatedBy
        );

        COMMIT TRANSACTION;

    END TRY

    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        EXEC usp_LogError
            @ErrorSource='usp_AddRole',
            @ErrorMessage=ERROR_MESSAGE,
            @ErrorProcedure=ERROR_PROCEDURE,
            @ErrorLineNumber=ERROR_LINE;

        THROW;

    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_AddUser]    Script Date: 04-06-2026 22:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_AddUser]
(
    @RoleGuid UNIQUEIDENTIFIER,
    @FullName VARCHAR(200),
    @Email VARCHAR(200),
    @PasswordHash VARCHAR(500),
    @CreatedBy VARCHAR(100)
)
AS
BEGIN

    BEGIN TRY

        BEGIN TRANSACTION;

        DECLARE @RoleId INT;

        SELECT @RoleId = RoleId
        FROM mst_Roles
        WHERE RoleGuid=@RoleGuid
        AND IsActive=1;

        INSERT INTO mst_Users
        (
            RoleId,
            FullName,
            Email,
            PasswordHash,
            CreatedBy
        )
        VALUES
        (
            @RoleId,
            @FullName,
            @Email,
            @PasswordHash,
            @CreatedBy
        );

        COMMIT TRANSACTION;

    END TRY

    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        EXEC usp_LogError
            @ErrorSource='usp_AddUser',
            @ErrorMessage=ERROR_MESSAGE,
            @ErrorProcedure=ERROR_PROCEDURE,
            @ErrorLineNumber=ERROR_LINE;

        THROW;

    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_BulkInsertAuthors]    Script Date: 04-06-2026 22:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[usp_BulkInsertAuthors]
(
    @Authors Author_Type READONLY,
    @CreatedBy VARCHAR(100)
)
as begin 
   set nocount on;
   begin try
         Begin Transaction;
         Insert into mst_Authors
         (
            AuthorName,
            CreatedBy
         )
         select A.AuthorName, @CreatedBy
         from @Authors A
         where not exists( select 1 from mst_Authors M where M.AuthorName = A.AuthorName);
         commit transaction;
    end try
    begin catch
        if @@TRANCOUNT > 0
            rollback transaction;
        exec usp_LogError
            @ErrorSource='usp_BulkInsertAuthors',
            @ErrorMessage=ERROR_MESSAGE,
            @ErrorProcedure=ERROR_PROCEDURE,
            @ErrorLineNumber=ERROR_LINE;
        throw;
    end catch
end
GO
/****** Object:  StoredProcedure [dbo].[usp_BulkInsertBooks]    Script Date: 04-06-2026 22:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[usp_BulkInsertBooks]
(
    @Books Book_Type READONLY,
    @CreatedBy VARCHAR(100)
)
as begin
    set nocount on;
    begin try
        begin transaction;
        Insert into mst_Books( AuthorId, CategoryId, ISBN, Title, TotalCopies, AvailableCopies, PublishedYear, CreatedBy)
        SELECT 
            A.AuthorId, C.CategoryId, B.ISBN, B.Title, B.TotalCopies, B.TotalCopies, B.PublishedYear, @CreatedBy
        from @Books B
        Inner Join mst_Authors A
            on B.AuthorUniqueId = A.AuthorUniqueId
        Inner join mst_Categories C
            on B.CategoryUniqueId = C.CategoryUniqueId
        where not exists
        (
            select 1 from mst_Books M where M.ISBN = B.ISBN
        );
        commit transaction;
    end try
    begin catch
        if @@TRANCOUNT > 0
            rollback transaction;
        exec usp_LogError
            @ErrorSource='usp_BulkInsertBooks',
            @ErrorMessage=ERROR_MESSAGE,
            @ErrorProcedure=ERROR_PROCEDURE,
            @ErrorLineNumber=ERROR_LINE;
        throw;
    end catch
end
GO
/****** Object:  StoredProcedure [dbo].[usp_BulkInsertCategories]    Script Date: 04-06-2026 22:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_BulkInsertCategories]
(
    @Categories Category_Type READONLY,
    @CreatedBy VARCHAR(100)
)
AS
BEGIN

    SET NOCOUNT ON;

    BEGIN TRY

        BEGIN TRANSACTION;

        INSERT INTO mst_Categories
        (
            CategoryName,
            CreatedBy
        )
        SELECT
            C.CategoryName,
            @CreatedBy
        FROM @Categories C
        WHERE NOT EXISTS
        (
            SELECT 1
            FROM mst_Categories M
            WHERE M.CategoryName = C.CategoryName
        );

        COMMIT TRANSACTION;

    END TRY

    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        EXEC usp_LogError
            @ErrorSource='usp_BulkInsertCategories',
            @ErrorMessage=ERROR_MESSAGE,
            @ErrorProcedure=ERROR_PROCEDURE,
            @ErrorLineNumber=ERROR_LINE;

        THROW;

    END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[usp_BulkInsertMembers]    Script Date: 04-06-2026 22:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_BulkInsertMembers]
(
    @Members Member_Type READONLY,
    @CreatedBy VARCHAR(100)
)
AS
BEGIN

    SET NOCOUNT ON;

    BEGIN TRY

        BEGIN TRANSACTION;

        INSERT INTO mst_Members
        (
            FullName,
            Email,
            PhoneNumber,
            CreatedBy
        )
        SELECT
            M.FullName,
            M.Email,
            M.PhoneNumber,
            @CreatedBy
        FROM @Members M
        WHERE NOT EXISTS
        (
            SELECT 1
            FROM mst_Members MM
            WHERE MM.Email = M.Email
        );

        COMMIT TRANSACTION;

    END TRY

    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        EXEC usp_LogError
            @ErrorSource='usp_BulkInsertMembers',
            @ErrorMessage=ERROR_MESSAGE,
            @ErrorProcedure=ERROR_PROCEDURE,
            @ErrorLineNumber=ERROR_LINE;

        THROW;

    END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[usp_BulkInsertUsers]    Script Date: 04-06-2026 22:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_BulkInsertUsers]
(
    @Users User_Type READONLY,
    @CreatedBy VARCHAR(100)
)
AS
BEGIN

    SET NOCOUNT ON;

    BEGIN TRY

        BEGIN TRANSACTION;

        INSERT INTO mst_Users
        (
            RoleId,
            FullName,
            Email,
            PasswordHash,
            CreatedBy
        )
        SELECT

            R.RoleId,
            U.FullName,
            U.Email,
            U.PasswordHash,
            @CreatedBy

        FROM @Users U

        INNER JOIN mst_Roles R
            ON U.RoleUniqueId = R.RoleUniqueId

        WHERE NOT EXISTS
        (
            SELECT 1
            FROM mst_Users MU
            WHERE MU.Email = U.Email
        );

        COMMIT TRANSACTION;

    END TRY

    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        EXEC usp_LogError
            @ErrorSource='usp_BulkInsertUsers',
            @ErrorMessage=ERROR_MESSAGE,
            @ErrorProcedure=ERROR_PROCEDURE,
            @ErrorLineNumber=ERROR_LINE;

        THROW;

    END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteAuthor]    Script Date: 04-06-2026 22:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_DeleteAuthor]
(
    @AuthorGuid UNIQUEIDENTIFIER,
    @UpdatedBy VARCHAR(100)
)
AS
BEGIN
    BEGIN TRY

        BEGIN TRANSACTION;

        UPDATE mst_Authors
        SET
            IsActive = 0,
            UpdatedOn = GETUTCDATE(),
            UpdatedBy = @UpdatedBy
        WHERE AuthorGuid = @AuthorGuid;

        COMMIT;

    END TRY
    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK;

        EXEC usp_LogError
            @ErrorSource='usp_DeleteAuthor',
            @ErrorMessage=ERROR_MESSAGE,
            @ErrorProcedure=ERROR_PROCEDURE,
            @ErrorLineNumber=ERROR_LINE;

        THROW;

    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteBook]    Script Date: 04-06-2026 22:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_DeleteBook]
(
    @BookGuid UNIQUEIDENTIFIER,
    @UpdatedBy VARCHAR(100)
)
AS
BEGIN

    BEGIN TRY

        BEGIN TRANSACTION;

        UPDATE mst_Books
        SET
            IsActive=0,
            UpdatedOn=GETUTCDATE(),
            UpdatedBy=@UpdatedBy
        WHERE BookGuid=@BookGuid;

        COMMIT;

    END TRY
    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK;

        EXEC usp_LogError
            @ErrorSource='usp_DeleteBook',
            @ErrorMessage=ERROR_MESSAGE,
            @ErrorProcedure=ERROR_PROCEDURE,
            @ErrorLineNumber=ERROR_LINE;

        THROW;

    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteCategory]    Script Date: 04-06-2026 22:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_DeleteCategory]
(
    @CategoryGuid UNIQUEIDENTIFIER,
    @UpdatedBy VARCHAR(100)
)
AS
BEGIN

    BEGIN TRY

        BEGIN TRANSACTION;

        UPDATE mst_Categories
        SET
            IsActive=0,
            UpdatedOn=GETUTCDATE(),
            UpdatedBy=@UpdatedBy
        WHERE CategoryGuid=@CategoryGuid;

        COMMIT;

    END TRY
    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK;

        EXEC usp_LogError
            @ErrorSource='usp_DeleteCategory',
            @ErrorMessage=ERROR_MESSAGE,
            @ErrorProcedure=ERROR_PROCEDURE,
            @ErrorLineNumber=ERROR_LINE;

        THROW;

    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteMember]    Script Date: 04-06-2026 22:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_DeleteMember]
(
    @MemberGuid UNIQUEIDENTIFIER,
    @UpdatedBy VARCHAR(100)
)
AS
BEGIN

    BEGIN TRY

        BEGIN TRANSACTION;

        UPDATE mst_Members
        SET
            IsActive=0,
            UpdatedOn=GETUTCDATE(),
            UpdatedBy=@UpdatedBy
        WHERE MemberGuid=@MemberGuid;

        COMMIT;

    END TRY
    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK;

        EXEC usp_LogError
            @ErrorSource='usp_DeleteMember',
            @ErrorMessage=ERROR_MESSAGE,
            @ErrorProcedure=ERROR_PROCEDURE,
            @ErrorLineNumber=ERROR_LINE;

        THROW;

    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteRole]    Script Date: 04-06-2026 22:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_DeleteRole]
(
    @RoleGuid UNIQUEIDENTIFIER,
    @UpdatedBy VARCHAR(100)
)
AS
BEGIN

    BEGIN TRY

        BEGIN TRANSACTION;

        UPDATE mst_Roles
        SET
            IsActive=0,
            UpdatedOn=GETUTCDATE(),
            UpdatedBy=@UpdatedBy
        WHERE RoleGuid=@RoleGuid;

        COMMIT TRANSACTION;

    END TRY

    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        EXEC usp_LogError
            @ErrorSource='usp_DeleteRole',
            @ErrorMessage=ERROR_MESSAGE,
            @ErrorProcedure=ERROR_PROCEDURE,
            @ErrorLineNumber=ERROR_LINE;

        THROW;

    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAuthorById]    Script Date: 04-06-2026 22:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetAuthorById]
(
    @AuthorUniqueId VARCHAR(50)
)
AS
BEGIN

    SELECT
        AuthorGuid,
        AuthorName
    FROM mst_Authors
    WHERE AuthorUniqueId = @AuthorUniqueId
    AND IsActive = 1;

END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAuthors]    Script Date: 04-06-2026 22:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetAuthors]
AS
BEGIN

    SELECT
        AuthorGuid,
        AuthorName
    FROM mst_Authors
    WHERE IsActive = 1
    ORDER BY AuthorName;

END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAuthorsPaged]    Script Date: 04-06-2026 22:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetAuthorsPaged]
(
    @PageNumber INT = 1,
    @PageSize INT = 10,
    @SearchText VARCHAR(200) = NULL
)
AS
BEGIN

    SET NOCOUNT ON;

    SELECT

        COUNT(*) OVER() AS TotalRecords,

        AuthorGuid,
        AuthorName

    FROM mst_Authors

    WHERE
        IsActive = 1
        AND
        (
            @SearchText IS NULL
            OR AuthorName LIKE '%' + @SearchText + '%'
        )

    ORDER BY AuthorName

    OFFSET (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;

END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetBookById]    Script Date: 04-06-2026 22:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetBookById]
(
    @BookUniqueId varchar(50)
)
AS
BEGIN

    SELECT *
    FROM mst_Books
    WHERE BookUniqueId = @BookUniqueId
    AND IsActive=1;

END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetBooks]    Script Date: 04-06-2026 22:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetBooks]
AS
BEGIN

    SELECT
        B.BookGuid,
        B.Title,
        B.ISBN,
        A.AuthorName,
        C.CategoryName,
        B.TotalCopies,
        B.AvailableCopies,
        B.PublishedYear
    FROM mst_Books B
    INNER JOIN mst_Authors A
        ON B.AuthorId = A.AuthorId
    INNER JOIN mst_Categories C
        ON B.CategoryId = C.CategoryId
    WHERE B.IsActive = 1
    ORDER BY B.Title;

END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetBooksPaged]    Script Date: 04-06-2026 22:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetBooksPaged]
(
    @PageNumber INT = 1,
    @PageSize INT = 10,
    @SearchText VARCHAR(200) = NULL
)
AS
BEGIN

    SET NOCOUNT ON;

    SELECT
        COUNT(*) OVER() AS TotalRecords,

        B.BookUniqueId,
        B.Title,
        B.ISBN,

        A.AuthorName,
        C.CategoryName,

        B.TotalCopies,
        B.AvailableCopies,
        B.PublishedYear

    FROM mst_Books B

    INNER JOIN mst_Authors A
        ON B.AuthorId = A.AuthorId

    INNER JOIN mst_Categories C
        ON B.CategoryId = C.CategoryId

    WHERE
        B.IsActive = 1
        AND
        (
            @SearchText IS NULL
            OR B.Title LIKE '%' + @SearchText + '%'
            OR B.ISBN LIKE '%' + @SearchText + '%'
            OR A.AuthorName LIKE '%' + @SearchText + '%'
            OR C.CategoryName LIKE '%' + @SearchText + '%'
        )

    ORDER BY B.Title

    OFFSET (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;

END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetCategories]    Script Date: 04-06-2026 22:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetCategories]
AS
BEGIN

    SELECT
        CategoryGuid,
        CategoryName
    FROM mst_Categories
    WHERE IsActive = 1
    ORDER BY CategoryName;

END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetCategoriesPaged]    Script Date: 04-06-2026 22:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetCategoriesPaged]
(
    @PageNumber INT = 1,
    @PageSize INT = 10,
    @SearchText VARCHAR(200) = NULL
)
AS
BEGIN

    SET NOCOUNT ON;

    SELECT

        COUNT(*) OVER() AS TotalRecords,

        CategoryUniqueId,
        CategoryName

    FROM mst_Categories

    WHERE
        IsActive = 1
        AND
        (
            @SearchText IS NULL
            OR CategoryName LIKE '%' + @SearchText + '%'
        )

    ORDER BY CategoryName

    OFFSET (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;

END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetCategoryById]    Script Date: 04-06-2026 22:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetCategoryById]
(
    @CategoryUniqueId varchar(50)
)
AS
BEGIN

    SELECT *
    FROM mst_Categories
    WHERE CategoryUniqueId = @CategoryUniqueId
    AND IsActive=1;

END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetFinesPaged]    Script Date: 04-06-2026 22:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetFinesPaged]
(
    @PageNumber INT = 1,
    @PageSize INT = 10,
    @SearchText VARCHAR(200) = NULL
)
AS
BEGIN

    SET NOCOUNT ON;

    SELECT

        COUNT(*) OVER() AS TotalRecords,

        F.FineUniqueId,
        B.Title,
        M.FullName,

        F.FineAmount,
        F.IsPaid,
        F.PaidOn

    FROM tbl_Fines F

    INNER JOIN tbl_BookIssues I
        ON F.IssueId = I.IssueId

    INNER JOIN mst_Books B
        ON I.BookId = B.BookId

    INNER JOIN mst_Members M
        ON I.MemberId = M.MemberId

    WHERE
        F.IsActive = 1
        AND
        (
            @SearchText IS NULL
            OR B.Title LIKE '%' + @SearchText + '%'
            OR M.FullName LIKE '%' + @SearchText + '%'
        )

    ORDER BY F.FineId DESC

    OFFSET (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;

END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetIssuedBooksPaged]    Script Date: 04-06-2026 22:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetIssuedBooksPaged]
(
    @PageNumber INT = 1,
    @PageSize INT = 10,
    @SearchText VARCHAR(200) = NULL
)
AS
BEGIN

    SET NOCOUNT ON;

    SELECT

        COUNT(*) OVER() AS TotalRecords,

        I.IssueUniqueId,

        B.Title,
        M.FullName,

        I.IssueDate,
        I.DueDate,
        I.ReturnDate,

        I.Status

    FROM tbl_BookIssues I

    INNER JOIN mst_Books B
        ON I.BookId = B.BookId

    INNER JOIN mst_Members M
        ON I.MemberId = M.MemberId

    WHERE
        I.IsActive = 1
        AND
        (
            @SearchText IS NULL
            OR B.Title LIKE '%' + @SearchText + '%'
            OR M.FullName LIKE '%' + @SearchText + '%'
            OR I.Status LIKE '%' + @SearchText + '%'
        )

    ORDER BY I.IssueDate DESC

    OFFSET (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;

END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetMemberById]    Script Date: 04-06-2026 22:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetMemberById]
(
    @MemberUniqueId varchar(50)
)
AS
BEGIN

    SELECT *
    FROM mst_Members
    WHERE MemberUniqueId = @MemberUniqueId
    AND IsActive=1;

END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetMembers]    Script Date: 04-06-2026 22:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetMembers]
AS
BEGIN

    SELECT
        MemberGuid,
        FullName,
        Email,
        PhoneNumber
    FROM mst_Members
    WHERE IsActive = 1
    ORDER BY FullName;

END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetMembersPaged]    Script Date: 04-06-2026 22:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetMembersPaged]
(
    @PageNumber INT = 1,
    @PageSize INT = 10,
    @SearchText VARCHAR(200) = NULL
)
AS
BEGIN

    SET NOCOUNT ON;

    SELECT
        COUNT(*) OVER() AS TotalRecords,

        MemberUniqueId,
        FullName,
        Email,
        PhoneNumber,
        MembershipDate

    FROM mst_Members

    WHERE
        IsActive = 1
        AND
        (
            @SearchText IS NULL
            OR FullName LIKE '%' + @SearchText + '%'
            OR Email LIKE '%' + @SearchText + '%'
            OR PhoneNumber LIKE '%' + @SearchText + '%'
        )

    ORDER BY FullName

    OFFSET (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;

END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetRoles]    Script Date: 04-06-2026 22:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetRoles]
AS
BEGIN

    SELECT
        RoleGuid,
        RoleName
    FROM mst_Roles
    WHERE IsActive = 1
    ORDER BY RoleName;

END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetUsers]    Script Date: 04-06-2026 22:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_GetUsers]
AS
BEGIN

    SELECT
        U.UserGuid,
        U.FullName,
        U.Email,
        R.RoleName
    FROM mst_Users U
    INNER JOIN mst_Roles R
        ON U.RoleId = R.RoleId
    WHERE U.IsActive = 1;

END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetUsersPaged]    Script Date: 04-06-2026 22:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetUsersPaged]
(
    @PageNumber INT = 1,
    @PageSize INT = 10,
    @SearchText VARCHAR(200) = NULL
)
AS
BEGIN

    SET NOCOUNT ON;

    SELECT

        COUNT(*) OVER() AS TotalRecords,

        U.UserUniqueId,
        U.FullName,
        U.Email,
        R.RoleName

    FROM mst_Users U

    INNER JOIN mst_Roles R
        ON U.RoleId = R.RoleId

    WHERE
        U.IsActive = 1
        AND
        (
            @SearchText IS NULL
            OR U.FullName LIKE '%' + @SearchText + '%'
            OR U.Email LIKE '%' + @SearchText + '%'
            OR R.RoleName LIKE '%' + @SearchText + '%'
        )

    ORDER BY U.FullName

    OFFSET (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;

END
GO
/****** Object:  StoredProcedure [dbo].[usp_IssueBook]    Script Date: 04-06-2026 22:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_IssueBook]
(
    @MemberUniqueId Varchar(50),
    @BookUniqueId VARCHAR(50),
    @DueDate DATETIME,
    @CreatedBy VARCHAR(100)
)
AS
BEGIN

    BEGIN TRY

        BEGIN TRANSACTION;

        DECLARE @MemberId INT;
        DECLARE @BookId INT;

        SELECT @MemberId=MemberId
        FROM mst_Members
        WHERE MemberUniqueId = @MemberUniqueId;

        SELECT @BookId=BookId
        FROM mst_Books
        WHERE BookUniqueId = @BookUniqueId;

        UPDATE mst_Books
        SET AvailableCopies=AvailableCopies-1
        WHERE BookId=@BookId;

        INSERT INTO tbl_BookIssues
        (
            MemberId,
            BookId,
            DueDate,
            Status,
            CreatedBy
        )
        VALUES
        (
            @MemberId,
            @BookId,
            @DueDate,
            'Issued',
            @CreatedBy
        );

        COMMIT TRANSACTION;

    END TRY

    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        EXEC usp_LogError
            @ErrorSource='usp_IssueBook',
            @ErrorMessage=ERROR_MESSAGE,
            @ErrorProcedure=ERROR_PROCEDURE,
            @ErrorLineNumber=ERROR_LINE;

        THROW;

    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_LogError]    Script Date: 04-06-2026 22:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_LogError]
(
    @ErrorSource VARCHAR(100),
    @ErrorMessage NVARCHAR(MAX),
    @ErrorProcedure VARCHAR(200) = NULL,
    @ErrorLineNumber INT = NULL,
    @ErrorStackTrace NVARCHAR(MAX) = NULL,
    @RequestPath VARCHAR(500) = NULL,
    @UserName VARCHAR(100) = NULL,
    @LogLevel VARCHAR(50) = 'Error'
)
AS
BEGIN

    INSERT INTO tbl_ErrorLogs
    (
        ErrorSource,
        ErrorMessage,
        ErrorProcedure,
        ErrorLineNumber,
        ErrorStackTrace,
        RequestPath,
        UserName,
        LogLevel,
        CreatedOn
    )
    VALUES
    (
        @ErrorSource,
        @ErrorMessage,
        @ErrorProcedure,
        @ErrorLineNumber,
        @ErrorStackTrace,
        @RequestPath,
        @UserName,
        @LogLevel,
        GETUTCDATE()
    );

END
GO
/****** Object:  StoredProcedure [dbo].[usp_Login]    Script Date: 04-06-2026 22:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Login]
(
    @Email VARCHAR(200)
)
AS
BEGIN

    SELECT
        U.UserGuid,
        U.FullName,
        U.Email,
        U.PasswordHash,
        R.RoleName
    FROM mst_Users U
    INNER JOIN mst_Roles R
        ON U.RoleId = R.RoleId
    WHERE U.Email=@Email
    AND U.IsActive=1;

END
GO
/****** Object:  StoredProcedure [dbo].[usp_ReturnBook]    Script Date: 04-06-2026 22:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_ReturnBook]
(
    @IssueUniqueId VARCHAR(50),
    @UpdatedBy VARCHAR(100)
)
AS
BEGIN

    BEGIN TRY

        BEGIN TRANSACTION;

        DECLARE @BookId INT;

        SELECT @BookId = BookId
        FROM tbl_BookIssues
        WHERE IssueUniqueId = @IssueUniqueId;

        UPDATE tbl_BookIssues
        SET
            ReturnDate=GETUTCDATE(),
            Status='Returned',
            UpdatedOn=GETUTCDATE(),
            UpdatedBy=@UpdatedBy
        WHERE IssueUniqueId = @IssueUniqueId;

        UPDATE mst_Books
        SET AvailableCopies=AvailableCopies+1
        WHERE BookId=@BookId;

        COMMIT TRANSACTION;

    END TRY

    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        EXEC usp_LogError
            @ErrorSource='usp_ReturnBook',
            @ErrorMessage=ERROR_MESSAGE,
            @ErrorProcedure=ERROR_PROCEDURE,
            @ErrorLineNumber=ERROR_LINE;

        THROW;

    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateAuthor]    Script Date: 04-06-2026 22:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_UpdateAuthor]
(
    @AuthorGuid UNIQUEIDENTIFIER,
    @AuthorName VARCHAR(200),
    @UpdatedBy VARCHAR(100)
)
AS
BEGIN
    BEGIN TRY

        BEGIN TRANSACTION;

        UPDATE mst_Authors
        SET
            AuthorName = @AuthorName,
            UpdatedOn = GETUTCDATE(),
            UpdatedBy = @UpdatedBy
        WHERE AuthorGuid = @AuthorGuid;

        COMMIT;

    END TRY
    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK;

        EXEC usp_LogError
            @ErrorSource='usp_UpdateAuthor',
            @ErrorMessage=ERROR_MESSAGE,
            @ErrorProcedure=ERROR_PROCEDURE,
            @ErrorLineNumber=ERROR_LINE;

        THROW;

    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateBook]    Script Date: 04-06-2026 22:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_UpdateBook]
(
    @BookUniqueId varchar(50),
    @ISBN VARCHAR(50),
    @Title VARCHAR(300),
    @TotalCopies INT,
    @PublishedYear INT,
    @UpdatedBy VARCHAR(100)
)
AS
BEGIN

    BEGIN TRY

        BEGIN TRANSACTION;

        UPDATE mst_Books
        SET
            ISBN=@ISBN,
            Title=@Title,
            TotalCopies=@TotalCopies,
            PublishedYear=@PublishedYear,
            UpdatedOn=GETUTCDATE(),
            UpdatedBy=@UpdatedBy
        WHERE BookUniqueId = @BookUniqueId;

        COMMIT;

    END TRY
    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK;

        EXEC usp_LogError
            @ErrorSource='usp_UpdateBook',
            @ErrorMessage=ERROR_MESSAGE,
            @ErrorProcedure=ERROR_PROCEDURE,
            @ErrorLineNumber=ERROR_LINE;

        THROW;

    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateCategory]    Script Date: 04-06-2026 22:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_UpdateCategory]
(
    @CategoryGuid UNIQUEIDENTIFIER,
    @CategoryName VARCHAR(150),
    @UpdatedBy VARCHAR(100)
)
AS
BEGIN

    BEGIN TRY

        BEGIN TRANSACTION;

        UPDATE mst_Categories
        SET
            CategoryName=@CategoryName,
            UpdatedOn=GETUTCDATE(),
            UpdatedBy=@UpdatedBy
        WHERE CategoryGuid=@CategoryGuid;

        COMMIT;

    END TRY
    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK;

        EXEC usp_LogError
            @ErrorSource='usp_UpdateCategory',
            @ErrorMessage=ERROR_MESSAGE,
            @ErrorProcedure=ERROR_PROCEDURE,
            @ErrorLineNumber=ERROR_LINE;

        THROW;

    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateMember]    Script Date: 04-06-2026 22:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_UpdateMember]
(
    @MemberGuid UNIQUEIDENTIFIER,
    @FullName VARCHAR(200),
    @Email VARCHAR(200),
    @PhoneNumber VARCHAR(20),
    @UpdatedBy VARCHAR(100)
)
AS
BEGIN

    BEGIN TRY

        BEGIN TRANSACTION;

        UPDATE mst_Members
        SET
            FullName=@FullName,
            Email=@Email,
            PhoneNumber=@PhoneNumber,
            UpdatedOn=GETUTCDATE(),
            UpdatedBy=@UpdatedBy
        WHERE MemberGuid=@MemberGuid;

        COMMIT;

    END TRY
    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK;

        EXEC usp_LogError
            @ErrorSource='usp_UpdateMember',
            @ErrorMessage=ERROR_MESSAGE,
            @ErrorProcedure=ERROR_PROCEDURE,
            @ErrorLineNumber=ERROR_LINE;

        THROW;

    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateRole]    Script Date: 04-06-2026 22:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_UpdateRole]
(
    @RoleGuid UNIQUEIDENTIFIER,
    @RoleName VARCHAR(50),
    @UpdatedBy VARCHAR(100)
)
AS
BEGIN

    BEGIN TRY

        BEGIN TRANSACTION;

        UPDATE mst_Roles
        SET
            RoleName=@RoleName,
            UpdatedOn=GETUTCDATE(),
            UpdatedBy=@UpdatedBy
        WHERE RoleGuid=@RoleGuid;

        COMMIT TRANSACTION;

    END TRY

    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        EXEC usp_LogError
            @ErrorSource='usp_UpdateRole',
            @ErrorMessage=ERROR_MESSAGE,
            @ErrorProcedure=ERROR_PROCEDURE,
            @ErrorLineNumber=ERROR_LINE;

        THROW;

    END CATCH
END
GO
