USE [LibraryManagementDB]
GO
/****** Object:  View [dbo].[vw_BookDetails]    Script Date: 05-06-2026 09:43:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_BookDetails]
AS
SELECT

    B.BookUniqueId,

    B.Title,
    B.ISBN,

    A.AuthorUniqueId,
    A.AuthorName,

    C.CategoryUniqueId,
    C.CategoryName,

    B.TotalCopies,
    B.AvailableCopies,

    B.PublishedYear,

    B.IsActive,

    B.CreatedOn,
    B.UpdatedOn

FROM mst_Books B

INNER JOIN mst_Authors A
    ON B.AuthorId = A.AuthorId

INNER JOIN mst_Categories C
    ON B.CategoryId = C.CategoryId;
GO
/****** Object:  View [dbo].[vw_FineDetails]    Script Date: 05-06-2026 09:43:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_FineDetails]
AS
SELECT

    F.FineUniqueId,

    M.MemberUniqueId,
    M.FullName,

    B.BookUniqueId,
    B.Title,

    F.FineAmount,
    F.IsPaid,
    F.PaidOn,

    F.CreatedOn

FROM tbl_Fines F

INNER JOIN tbl_BookIssues I
    ON F.IssueId = I.IssueId

INNER JOIN mst_Members M
    ON I.MemberId = M.MemberId

INNER JOIN mst_Books B
    ON I.BookId = B.BookId

WHERE F.IsActive = 1;
GO
/****** Object:  View [dbo].[vw_IssuedBooks]    Script Date: 05-06-2026 09:43:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_IssuedBooks]
AS
SELECT

    I.IssueUniqueId,

    M.MemberUniqueId,
    M.FullName AS MemberName,

    B.BookUniqueId,
    B.Title,

    I.IssueDate,
    I.DueDate,
    I.ReturnDate,

    I.Status,

    I.CreatedOn

FROM tbl_BookIssues I

INNER JOIN mst_Members M
    ON I.MemberId = M.MemberId

INNER JOIN mst_Books B
    ON I.BookId = B.BookId

WHERE I.IsActive = 1;
GO
/****** Object:  View [dbo].[vw_MemberHistory]    Script Date: 05-06-2026 09:43:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_MemberHistory]
AS
SELECT

    M.MemberUniqueId,
    M.FullName,

    B.BookUniqueId,
    B.Title,

    I.IssueUniqueId,

    I.IssueDate,
    I.DueDate,
    I.ReturnDate,

    I.Status

FROM mst_Members M

INNER JOIN tbl_BookIssues I
    ON M.MemberId = I.MemberId

INNER JOIN mst_Books B
    ON I.BookId = B.BookId

WHERE
    M.IsActive = 1
    AND I.IsActive = 1;
GO
