USE [LibraryManagementDB]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalculateFine]    Script Date: 05-06-2026 09:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_CalculateFine]
(
    @DueDate Datetime,
    @ReturnDate Datetime
)
Returns decimal(10,2)
as begin
    declare @FineAmount decimal(10,2) = 0;
    declare @LateDays int;

    set @LateDays = DATEDIFF(DAY, @DueDate, @ReturnDate);

    IF @LateDays > 0
    begin 
        set @FineAmount = @LateDays * 10;
    end;

    return @FineAmount;
end
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetActiveMembersCount]    Script Date: 05-06-2026 09:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_GetActiveMembersCount]()
RETURNS INT
AS
BEGIN

    DECLARE @MemberCount INT;

    SELECT
        @MemberCount = COUNT(*)
    FROM mst_Members
    WHERE IsActive = 1;

    RETURN ISNULL(@MemberCount,0);

END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetAvailableBooks]    Script Date: 05-06-2026 09:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create function [dbo].[fn_GetAvailableBooks]()
returns int
as begin 
    declare @AvailableBooks int;
    select @AvailableBooks = sum(AvailableCopies) from mst_Books where IsActive = 1;
    return isnull(@AvailableBooks, 0);
end 
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetMemberBorrowCount]    Script Date: 05-06-2026 09:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_GetMemberBorrowCount]
(
    @MemberUniqueId VARCHAR(32)
)
RETURNS INT
AS
BEGIN

    DECLARE @BorrowCount INT;

    SELECT
        @BorrowCount = COUNT(*)
    FROM tbl_BookIssues I
    INNER JOIN mst_Members M
        ON I.MemberId = M.MemberId
    WHERE
        M.MemberUniqueId = @MemberUniqueId
        AND I.IsActive = 1;

    RETURN ISNULL(@BorrowCount,0);

END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetOverdueBooksCount]    Script Date: 05-06-2026 09:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_GetOverdueBooksCount]()
RETURNS INT
AS
BEGIN
    DECLARE @Count INT;

    SELECT
        @Count = COUNT(*)
    FROM tbl_BookIssues
    WHERE
        Status = 'Issued'
        AND DueDate < GETUTCDATE()
        AND IsActive = 1;

    RETURN ISNULL(@Count,0);
END
GO
